<h3>Sign In</h3>
<%= form_tag '/signin' do %>
    Email: <%= text_field_tag :email %><br>
    Password: <%= password_field_tag :password %><br>
    <%= submit_tag "Sign In" %>
<% end %>
<br><br>
<%= link_to('Log in with Facebook!', '/auth/facebook', method: :post) %>
<p>(Please note that if you are using an account through Facebook, you will automatically be assigned 'Worker' status in the database.)
