<h2>Form a contract for: <%= @job.title %></h2>

<% if @contract.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@contract.errors.count, "error") %>
      prohibited this user from being saved:
    </h2>

    <ul>
    <% @contract.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

<h3>To take this job, tell us the timeframe in which you'll complete your assignment.</h3>
<%= form_for(@contract, url: new_job_contract_path(@job.id)) do |f| %>
    <%= f.label "Start Date: " %>
    <%= f.date_select :start_date, :order => [:month, :day, :year] %><br>
    <%= f.label "End Date: " %>
    <%= f.date_select :end_date, :order => [:month, :day, :year] %><br>
    <%= f.hidden_field :job_id, value: @job.id %>
    <%= f.hidden_field :worker_id, value: @worker.id %>
    <%= f.submit %>
<% end %>