<h2><%= @job.title %></h2>
<p><strong>Client: <%= @job.client.full_name %></strong></p>
<p><strong>Pay:</strong> $<%= @job.salary %></p>
<p><strong>Total positions for job:</strong> <%= @job.needed_workers %></p>
<p><%= @job.description %></p>
<% if @job.client == current_user %>
    <%= link_to 'Delete Job?', @job, method: 'delete' %>
<% end %>

<% if user_type == "Worker" %>
    <%= link_to "Take this job?", new_job_contract_path(@job.id) %>
<% end %>
