<h2><%= @job.title %></h2>
<p><strong>Client: <%= @job.client.full_name %></strong></p>
<p><strong>Pay:</strong> $<%= @job.salary %>0</p>
<p><strong>Total positions for job:</strong> <%= @job.needed_workers %></p>
<p><%= @job.description %></p>