<!DOCTYPE html>
<html>
  <head>
    <title>DownWork</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div>
    <h1>DownWork</h1>
  <div>
  <nav>
    <% if current_user == nil %>
      <%= link_to('Sign In', controller: 'sessions', action: 'new', class: "nav-tag") %>
      <%= link_to('Sign Up', controller: 'users', action: 'new', class: "nav-tag") %>
    <% else %>
      <%= link_to('Home', controller: 'application', action: 'home', class: "nav-tag") %>
      <%= link_to('All Jobs', controller: 'jobs', action: 'index', class: "nav-tag") %>
      <%= link_to('Sign Out', controller: 'sessions', action: 'destroy', class: "nav-tag") %>
    <% end %>
  </nav>
  <br>
  <body>
    <%= yield %>
  </body>
</html>
